/build
/cmake-build-debug

/managed_components
/dependencies.lock

/.zed
/.claude
/.devcontainer
/.vscode
/.idea
/.cache
/.swo
.DS_Store

/sdkconfig
/sdkconfig.old
/sdkconfig.ci

/package-lock.json
/package.json
/CLAUDE.md
